@import "../variables";

button:focus {
  outline: none;
}

.btn {
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: block;
  text-align: center;
  padding: 13px 20px;
  border: none;
  box-sizing: border-box;
  background: transparent;
  transition: color .2s, background .2s ;
  &:active {
    opacity: 0.8;
  }

  &.btn_primary {
    color: $green;
    border: 1px solid $green;
    &:hover {
      background: $green;
      color: $light;
      @include respond-to(lg) {
        color: $green;
        background: transparent;
      }
    }

    &:active {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }

  &.btn_secondary {
    color: $light;
    background: rgba($green, 1);

    &:hover {
      background: rgba($green, .8);
      @include respond-to(lg) {
        background: rgba($green, 1);
      }
    }
  }

  &.btn_green {
    background-color: $green;
  }

  &.btn_dark {
    background-color: $brown;
  }

  &.btn_link {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
}
.btn-menu{
  border: none;
  box-sizing: border-box;
  background: transparent;
  padding: 5px;
  font-size: 32px;
}

.scroll-up-btn {
  border: none;
  color: $primary;
  margin: 0 auto 120px;
  border-radius: 50%;
  background-color: $secondary;
  display: block;
  text-align: center;
  padding-top: 13px;
  font-size: 50px;
  height: 79px;
  width: 79px;
}


.cart-item__btn {
  cursor: pointer;
  border-radius: 50%;
  background: none;
  text-decoration: none;
  padding: 0;
  position: relative;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  color: $secondary;
  border: none;
  font-size: 25px;
  transition: opacity .2s;

  &:active {
    font-size: 22px;
    //opacity: .5;
  }

  &:hover {
    opacity: .5;
    @include respond-to(lg) {
      opacity: 1;
    }
  }

}


.popup__btn-close {
  cursor: pointer;
  border-radius: 50%;
  background: none;
  text-decoration: none;
  padding: 0;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  color: $secondary;
  border: 2px solid $secondary;
  transition: background .2s, opacity .2s;

  &:active {
    font-size: 22px;
  }

  &:hover {
    opacity: .5;
  }
}


/* cart-btn start */
.cart-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, .15);
  z-index: 5;
  transition: transform .2s, opacity .2s;
  padding: 0;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: .6;
  }

  .cart-btn__counter {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0px, -10px);
    background: $secondary;
    min-width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.05em;
  }

  .cart-btn__icon {
    padding: 6px 0;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
}


@include respond-to(sm) {
  .cart-btn {
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
  }

  .cart-btn__icon {
    width: 30px;
    height: 30px;
  }

  .cart-btn__counter {
    font-size: 12px;
    min-width: 25px;
    height: 25px;
    transform: translate(0, -5px);
  }
}