@import "../variables";
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Manrope/Manrope-ExtraLight/Manrope-ExtraLight.svg") format('svg'),
  url("../fonts/Manrope/Manrope-ExtraLight/Manrope-ExtraLight.woff") format('woff'),
  url("../fonts/Manrope/Manrope-ExtraLight/Manrope-ExtraLight.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-ExtraLight/Manrope-ExtraLight.eot") format('eot'),
  url("../fonts/Manrope/Manrope-ExtraLight/Manrope-ExtraLight.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Manrope/Manrope-Light/Manrope-Light.svg") format('svg'),
  url("../fonts/Manrope/Manrope-Light/Manrope-Light.woff") format('woff'),
  url("../fonts/Manrope/Manrope-Light/Manrope-Light.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-Light/Manrope-Light.eot") format('eot'),
  url("../fonts/Manrope/Manrope-Light/Manrope-Light.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope/Manrope-Regular/Manrope-Regular.svg") format('svg'),
  url("../fonts/Manrope/Manrope-Regular/Manrope-Regular.woff") format('woff'),
  url("../fonts/Manrope/Manrope-Regular/Manrope-Regular.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-Regular/Manrope-Regular.eot") format('eot'),
  url("../fonts/Manrope/Manrope-Regular/Manrope-Regular.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope/Manrope-Medium/Manrope-Medium.svg") format('svg'),
  url("../fonts/Manrope/Manrope-Medium/Manrope-Medium.woff") format('woff'),
  url("../fonts/Manrope/Manrope-Medium/Manrope-Medium.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-Medium/Manrope-Medium.eot") format('eot'),
  url("../fonts/Manrope/Manrope-Medium/Manrope-Medium.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Manrope/Manrope-SemiBold/Manrope-SemiBold.svg") format('svg'),
  url("../fonts/Manrope/Manrope-SemiBold/Manrope-SemiBold.woff") format('woff'),
  url("../fonts/Manrope/Manrope-SemiBold/Manrope-SemiBold.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-SemiBold/Manrope-SemiBold.eot") format('eot'),
  url("../fonts/Manrope/Manrope-SemiBold/Manrope-SemiBold.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope/Manrope-Bold/Manrope-Bold.svg") format('svg'),
  url("../fonts/Manrope/Manrope-Bold/Manrope-Bold.woff") format('woff'),
  url("../fonts/Manrope/Manrope-Bold/Manrope-Bold.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-Bold/Manrope-Bold.eot") format('eot'),
  url("../fonts/Manrope/Manrope-Bold/Manrope-Bold.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Manrope/Manrope-ExtraBold/Manrope-ExtraBold.svg") format('svg'),
  url("../fonts/Manrope/Manrope-ExtraBold/Manrope-ExtraBold.woff") format('woff'),
  url("../fonts/Manrope/Manrope-ExtraBold/Manrope-ExtraBold.woff2") format('woff2'),
  url("../fonts/Manrope/Manrope-ExtraBold/Manrope-ExtraBold.eot") format('eot'),
  url("../fonts/Manrope/Manrope-ExtraBold/Manrope-ExtraBold.ttf") format('ttf');
  font-display: swap;
}

body {
  font: $base-font;
  color: $primary;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font: $h1-font;
  margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
  font: $h2-font;
  margin-bottom: $h2-margin-bottom;
}

h3, .h3 {
  font: $h3-font;
  margin-bottom: $h3-margin-bottom;
}

h4, .h4 {
  font: $h4-font;
  margin-bottom: $h4-margin-bottom;
}

h5, .h5 {
  font: $h5-font;
  margin-bottom: $h5-margin-bottom;
}

@include respond-to(sm) {
  //body{
  //  font-size: 14px;
  //}

  h1, .h1 {
    font: $h1-font-sm;
  }

  h2, .h2 {
    font: $h2-font-sm;
  }

  h3, .h3 {
    font: $h3-font-sm;
  }

  h4, .h4 {
    font: $h4-font-sm;
  }

  h5, .h5 {
    font: $h5-font-sm;
  }
}

a {
  color: $primary;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}
