.menu {
  padding: 80px 0 40px;
  background-size:auto,auto;
  background-repeat: no-repeat,no-repeat;
  background-position: 17% 10px, 85% 10px;
  @include respond-to(xl){
    background-position: 1000% 1000%, 1000% 1000%;
  }
  .menu__title{
    text-align: center;
    color: $dark;
    margin-bottom: 60px;
  }
.nav-tabs{
  margin-bottom: 50px;
}
  .product-card__wrap {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .product-card {
    margin-bottom: 70px;
    width: 380px;

    .product-card__title {
      color: $dark;
    }
  }

}