.feedback {
  padding: 50px 0;

  .feedback__content{
    padding-right: 32px;
    @include respond-to(xl){
      padding-right: 0;
    }
    @include respond-to(lg){
      margin-bottom: 40px;
    }
  }
  .feedback__title {
    color: $dark;
  }
}


