.advantages {
  .advantages__img-wrap {
    position: relative;

    @include respond-to(lg) {
      display: none;
    }

    .advantages__img {
      padding: 15px;
      box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.15);
      background: white;
      position: absolute;
      top: 10%;
      right: -100px;
      z-index: 1;
      @include respond-to(xl) {
        width: 100%;
        height: auto;
        right: -50px;
      }
    }
  }

  .advantages-content {
    min-height: 970px;
    background-color: #e4eae2;
    padding: 220px 180px 145px 180px;
    @include respond-to(xl) {
      min-height: 800px;
      padding: 137px 74px 48px 100px;
    }
    @include respond-to(lg) {
      min-height: auto;
      padding: 100px 74px 48px 100px;
    }
    @include respond-to(sm) {
      padding: 80px 15px;
    }

    .advantages-content__title {
      color: $dark;
      margin-bottom: 40px;
    }

    .advantages-content__text {
      line-height: 190%;
      margin-bottom: 30px;
      padding-top: 40px;
      position: relative;

      &:before {
        content: '';
        height: 3px;
        width: 50px;
        background: rgba($light, .7);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .advantages-content__images {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .advantages-content__img-wrap {
      margin-right: 40px;
      @include respond-to(sm) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
