.index-menu{
  padding: 130px 0 80px;
  background-size:auto,auto;
  background-repeat: no-repeat,no-repeat;
  background-position: left bottom, right top;
  @include respond-to(lg){
    background-position: 1000% 1000%, 1000% 1000%;
  }

  .salads-swiper,.deserts-swiper{
    margin-bottom: 120px;
    .product-card__title {
      color: $dark;
    }
  }
  .index-menu__title {
    text-align: center;
    margin-bottom: 50px;
    &.green {
      color: $green;
    }
    &.brown {
      color: $brown;
    }
  }
}