.products {
  //padding-top: 70px;
  //margin-top: 50px;
  //margin-bottom: 70px;
  .products__title {
    padding-top: 70px;
    color: $primary;
    @include respond-to(md){
      text-align: center;
    }
  }
  .products-content{
    @include respond-to(lg){
justify-content: space-between;
    }
    @include respond-to(md){
      justify-content: center;
    }
  }

}