.footer {

  padding: 35px 0 70px;

  .footer-content-wrap {
    border-top: 1px solid rgba($green, .5);
    padding-top: 70px;
  }

  .footer-content {

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    .footer__logo-img {
      max-width: 150px;
      height: auto;
    }
  }

  .footer__contact-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      margin-right: 5px;
    }

    a:hover {
      color: $green;
    }
  }

  .footer__social {
    text-align: right;

    .footer__social-link {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      font-size: 36px;

      &:hover {
        color: $green;
      }
    }
  }
}