.product-card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 315px;
  padding: 0 15px;


  .product-card__img-wrap {
    margin-bottom: 15px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .product-card__title {
    color: $primary;
  }

  .product-card__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .product-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product-card__price {
      font-size: 22px;
      font-weight: 700;
      margin: 0;
    }

    .product-card__btn {
      margin: 0;
    }
  }
}